.ui-page.ui-body-a.ui-page-active {background: #f8fff8 url(../img/mobile_splash.png) no-repeat 50% 0px; }
/*div#mainNav {margin-top:192px;}*/
.ui-page.ui-body-a.ui-page-active .ui-content .ui-btn#cta {background: rgba(255,255,255,.0); border-color: #ededed; }
div#home-content {margin-top:138px;margin-right:0px;margin-left:0px;padding-right:0px;padding-left:0px;}
div#basic-content {background: #f8fff8;margin-top:0px;margin-right:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-left:0px; }
div#whyInvest {background: #f8fff8;}
div#works {background: #f8fff8;}
div#compounding {background: #f8fff8;}
div#gain {background: #f8fff8;}
div#fear {background: #f8fff8;}
div#risk {background: #f8fff8;}
div#asset {background: #f8fff8;}
div#allocation {background: #f8fff8;}
div#glossary {background: #f8fff8;}

div#basic-head {margin-bottom:0px;padding-bottom:0px; }
div#beyond-head {margin-bottom:0px;padding-bottom:0px; }
div#profile-head {margin-bottom:0px;padding-bottom:0px; }

div#basicNav {margin-top:0px;padding-top:0px; }
div#beyondNav {margin-top:0px;padding-top:0px; }
